input {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 0;
}

body {
    height: 100dvh;
    width: 100dvw;
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: black;
    overflow-x: hidden;
}

.background {
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    background-image: url("../img/background/metro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.container {
    padding-top: 4dvh;
    padding-left: 4dvw;
    padding-right: 4dvw;
    padding-bottom: 4dvh;
    background-color: rgba(255, 2550, 255, 0.2);
    border-radius: 10px;
}

h1 {
    padding-top: 5dvh;
    font-size: 3em;
    font-weight: bold;
}

h2 {
    padding-top: 5dvh;
    font-size: 2em;
    font-weight: bold;
}

h3 {
    padding-top: 5dvh;
    font-size: 1.5em;
}

label {
    font-size: 1.3em;
    text-wrap: nowrap;
    margin-left: 1em;
}

.text-input {
    width: 5em;
}

#join_team_team-admin {
    height: 1.5em;
    width: 1.5em;
    margin-left: 1em;
}

td {
    padding-top: 1em;
}

span {
    font-size: 1.3em;
    text-wrap: nowrap;
}

button {
    text-wrap: nowrap;
    border-radius: 0%;
    margin-left: 1em;
}