.container {
    margin: 20px auto;
    background: #fff;
    padding: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 85%;
    font-size: 200%;
}

.item {
    margin-bottom: 4%;
}

.item span {
    font-weight: bold;
    color: #828282;
}