body {
    font-family: "Noto Sans TC", sans-serif;
}

.top {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.user_info p {
    font-size: 200%;
}

.nav {
    display: inline-flex;
    margin-left: auto;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    background-color: #fff;
    padding: 0 20px;
    border-radius: 20px;
    box-shadow: 0 10px 50px rgba(159, 162, 177, .8);
    font-size: 200%;
    margin-right: 20vw;
}

.nav-item {
    color: #83818c;
    padding: 20px;
    text-decoration: none;
    transition: .3s;
    margin: 0 6px;
    z-index: 1;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #dfe2ea;
        border-radius: 8px 8px 0 0;
        opacity: 0;
        transition: .3s;
    }
}

.nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
}


.nav-item:not(.is-active):hover {
    color: #333;
}

.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: .4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}

@media (max-width: 580px) {
    .nav {
        overflow: auto;
    }
}

.MRT_map {
    min-width: 10%;
    min-height: 10%;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MRT_map img {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

.station_info_text {
    text-align: left;
    margin-left: 10%;
    font-size: 120%;
}

h1 {
    margin-left: 5%;
}

.team_locate {
    display: flex;
    /* 使用 Flexbox 排列元素 */
    flex-wrap: wrap;
    /* 允許元素換行 */
    margin-left: 5%;
}

.team_locate p {
    margin-right: 2%;
    font-size: 200%
}

#team0_location,
#team1_location,
#team2_location,
#team3_location {
    margin-right: 5%;
    /* 調整段落元素之間的間距 */
}

.team_point {
    display: flex;
    justify-content: center;
    margin: 0;
}

.team_point .scoreboard {
    background-color: #fff;
    padding: 30px;
    /* 調整 padding 來放大元素 */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* 使用百分比來填滿父元素的寬度 */
    max-width: 800px;
    /* 可以調整的最大寬度 */
    font-size: 200%;
}

.team_point .team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.team_point .team-name {
    flex: 1;
}

.team_point .progress-bar {
    flex: 3;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px;
}

.team_point .progress {
    height: 20px;
    background-color: #76c7c0;
    width: 0;
    transition: width 1s ease-in-out;
}

.team_point .score {
    flex: 1;
    text-align: right;
}

.swal2-popup {
    font-size: 175%;
}

.loacate_collapseTime_container,
.point_is_imprisoned_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#distance_label{
    margin-left: 5%; 
}

#next_collapse_time_label {
    margin-left: auto;
    margin-right: 2%;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* 设置高度以确保居中 */
}

.chaotic-orbit {
    --uib-size: 25px;
    --uib-speed: 1.5s;
    --uib-color: black;
    position: relative;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: rotate936 calc(var(--uib-speed) * 1.667) infinite linear;
    margin-left: 10px; /* 添加 margin 使点与文字有距离 */
}
   
.chaotic-orbit::before,
.chaotic-orbit::after {
    content: '';
    position: absolute;
    height: 60%;
    width: 60%;
    border-radius: 50%;
    background-color: var(--uib-color);
    will-change: transform;
    flex-shrink: 0;
}
   
.chaotic-orbit::before {
    animation: orbit var(--uib-speed) linear infinite;
}
   
.chaotic-orbit::after {
    animation: orbit var(--uib-speed) linear calc(var(--uib-speed) / -2) infinite;
}
   
@keyframes rotate936 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
   
@keyframes orbit {
    0% { transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684); opacity: 0.65; }
    5% { transform: translate(calc(var(--uib-size) * 0.4)) scale(0.684208); opacity: 0.58; }
    10% { transform: translate(calc(var(--uib-size) * 0.3)) scale(0.631576); opacity: 0.51; }
    15% { transform: translate(calc(var(--uib-size) * 0.2)) scale(0.578944); opacity: 0.44; }
    20% { transform: translate(calc(var(--uib-size) * 0.1)) scale(0.526312); opacity: 0.37; }
    25% { transform: translate(0%) scale(0.47368); opacity: 0.3; }
    30% { transform: translate(calc(var(--uib-size) * -0.1)) scale(0.526312); opacity: 0.37; }
    35% { transform: translate(calc(var(--uib-size) * -0.2)) scale(0.578944); opacity: 0.44; }
    40% { transform: translate(calc(var(--uib-size) * -0.3)) scale(0.631576); opacity: 0.51; }
    45% { transform: translate(calc(var(--uib-size) * -0.4)) scale(0.684208); opacity: 0.58; }
    50% { transform: translate(calc(var(--uib-size) * -0.5)) scale(0.73684); opacity: 0.65; }
    55% { transform: translate(calc(var(--uib-size) * -0.4)) scale(0.789472); opacity: 0.72; }
    60% { transform: translate(calc(var(--uib-size) * -0.3)) scale(0.842104); opacity: 0.79; }
    65% { transform: translate(calc(var(--uib-size) * -0.2)) scale(0.894736); opacity: 0.86; }
    70% { transform: translate(calc(var(--uib-size) * -0.1)) scale(0.947368); opacity: 0.93; }
    75% { transform: translate(0%) scale(1); opacity: 1; }
    80% { transform: translate(calc(var(--uib-size) * 0.1)) scale(0.947368); opacity: 0.93; }
    85% { transform: translate(calc(var(--uib-size) * 0.2)) scale(0.894736); opacity: 0.86; }
    90% { transform: translate(calc(var(--uib-size) * 0.3)) scale(0.842104); opacity: 0.79; }
    95% { transform: translate(calc(var(--uib-size) * 0.4)) scale(0.789472); opacity: 0.72; }
    100% { transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684); opacity: 0.65; }
}

   
   