{% extends "base.html" %}
{% block title %}捷運大富翁-管理員{% endblock title %}

{% block head %}
    <link href="{{url_for('static', filename='css/admin.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename='js/admin.js')}}"></script>
{% endblock head %}

{% block body %}
<h1>Hello Admin : {{current_user}}</h1>
<h2>分數</h2>
<h3>加分</h3>
<table>
    <tr>
        <td class="label"><label for="add_point_team_name">小隊:</label></td>
        <td><input type="text" id="add_point_team_name" class="input-field"></td>
        <td class="label"><label for="add_points">分數:</label></td>
        <td><input type="text" id="add_points" class="input-field"></td>
        <td><button type="submit" class="submit-button" onclick="add_point()">確認</button></td>
    </tr>
</table>
<h3>設定分數</h3>
<table>
    <tr>
        <td class="label"><label for="set_point_team-name">小隊:</label></td>
        <td><input type="text" id="set_point_team-name" class="input-field"></td>
        <td class="label"><label for="points">分數:</label></td>
        <td><input type="text" id="set_points" class="input-field"></td>
        <td><button type="submit" class="submit-button" onclick="set_point()">確認</button></td>
    </tr>
</table>

<h3>任務完成</h3>
<table>
    <tr>
        <td class="label"><label for="finish_misson_team-name">小隊:</label></td>
        <td><input type="text" id="finish_misson_team-name" class="input-field"></td>
        <td><button type="submit" class="submit-button" onclick="finish_misson()">確認</button></td>
    </tr>
</table>

<h2>隊伍 （例: 零小）</h2>
<h3>創建隊伍</h3>
<table class="input-table">
    <tr>
        <td class="label"><label for="create_team_team-name">小隊:</label></td>
        <td><input type="text" id="create_team_team-name" class="input-field"></td>
        <td class="label"><label for="create_team_team-position">初始站名:</label></td>
        <td><input type="text" id="create_team_team-position" class="input-field"></td>
        <td><button type="submit" class="submit-button" onclick="create_team()">確認</button></td>
    </tr>
</table>

<h3>刪除隊伍</h3>
<table class="input-table">
    <tr>
        <td class="label"><label for="delete_team_team-name">小隊:</label></td>
        <td><input type="text" id="delete_team_team-name" class="input-field"></td>
        <td><button type="submit" class="submit-button" onclick="delete_team()">確認</button></td>
    </tr>
</table>

<h3>分配隊伍</h3>
<table class="input-table">
    <tr>
        <td class="label"><label for="join_team_team-name">小隊:</label></td>
        <td><input type="text" id="join_team_team-name" class="input-field"></td>
        <td class="label"><label for="join_team_user-name">名稱:</label></td>
        <td><input type="text" id="join_team_user-name" class="input-field"></td>
        <td><input type="checkbox" id="join_team_team-admin"></td>
        <td class="label"><label>隊隨</label></td>
        <td><button type="submit" class="submit-button" onclick="join_team()">確認</button></td>
    </tr>
</table>

<h3>退出隊伍</h3>
<table class="input-table">
    <tr>
        <td class="label"><label for="points">名稱:</label></td>
        <td><input type="text" id="leave_team_user-name" class="input-field"></td>
        <td><button type="submit" class="submit-button" onclick="leave_team()">確認</button></td>
    </tr>
</table>

<h3>隊伍移動</h3>
<table>
    <tr>
        <td class="label"><label for="move_team_team-name">小隊:</label></td>
        <td><input type="text" id="move_team_team-name" class="input-field"></td>
        <td class="label"><label for="move_location">站名:</label></td>
        <td><input type="text" id="move_location" class="input-field"></td>
        <td><button type="submit" class="submit-button" onclick="move_to_location()">確認</button></td>
    </tr>
</table>
{% endblock %}