<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <style>
        input{
            width: 60%;
        }
    </style>
</head>
<body>
    <h1>Hello Admin : {{ current_user }}</h1>
    <h2>分數</h2>
    <h3>加分</h3>
    <table>
        <tr>
            <td class="label"><label for="team-number">小隊:</label></td>
            <td><input type="text" id="add_team-number" class="input-field"></td>
            <td class="label"><label for="points">分數:</label></td>
            <td><input type="text" id="add_points" class="input-field"></td>
            <td><button type="submit" class="submit-button" onclick="add_point()">確認</button></td>
        </tr>
    </table>
    <h3>設定分數</h3>
    <table>
        <tr>
            <td class="label"><label for="team-number">小隊:</label></td>
            <td><input type="text" id="set_team-number" class="input-field"></td>
            <td class="label"><label for="points">分數:</label></td>
            <td><input type="text" id="set_points" class="input-field"></td>
            <td><button type="submit" class="submit-button" onclick="set_point()">確認</button></td>
        </tr>
    </table>

    <h3>任務完成</h3>
        <table>
            <tr>
                <td class="label"><label for="team-number">小隊:</label></td>
                <td><input type="text" id="misson_team-number" class="input-field"></td>
                <td><button type="submit" class="submit-button" onclick="finish_misson()">確認</button></td>
            </tr>
        </table>
    
    <h2>隊伍</h2>
    <h3>創建隊伍</h3>
        <table class="input-table">
            <tr>
                <td class="label"><label for="team-number">幾小:</label></td>
                <td><input type="text" id="create_team-number" class="input-field"></td>
                <td class="label"><label for="points">初始站名:</label></td>
                <td><input type="text" id="create_team_position" class="input-field"></td>
                <td><button type="submit" class="submit-button" onclick="create_team()">確認</button></td>
            </tr>
        </table>

    <h3>分配隊伍</h3>
        <table class="input-table">
            <tr>
                <td class="label"><label for="team-number">小隊:</label></td>
                <td><input type="text" id="join_team-number" class="input-field"></td>
                <td class="label"><label for="points">名稱:</label></td>
                <td><input type="text" id="join_team_name" class="input-field"></td>
                <td><input type="checkbox" id="join_team-checkbox"></td>
                <td class="label"><label>隊隨</label></td>
                <td><button type="submit" class="submit-button" onclick="join_team()">確認</button></td>
            </tr>
        </table>

    

    <script>
        function add_point(){
            const team = document.getElementById('add_team-number').value;
            const points = document.getElementById('add_points').value;
            fetch(`http://localhost:8080/api/add_point/${team}/${points}`)
        }

        function set_point(){
            const team = document.getElementById('set_team-number').value;
            const points = document.getElementById('set_points').value;
            fetch(`http://localhost:8080/api/set_point/${team}/${points}`)
        }

        function finish_misson(){
            const team = document.getElementById('misson_team-number').value;
            fetch(`http://localhost:8080/api/finish_mission/${team}`)
        }

        function create_team(){
            const team = document.getElementById('create_team-number').value;
            const position = document.getElementById('create_team_position').value;
            fetch(`http://localhost:8080/api/create_team/${team}/${position}`)
        }

        function join_team(){
            const team = document.getElementById('join_team-number').value;
            const player_name = document.getElementById('join_team_name').value;
            const admin = document.getElementById('join_team-checkbox').checked
            fetch(`http://localhost:8080/api/join_team/${team}/${player_name}/${admin}`)
        }

    </script>
</body>
</html>