{% extends "base.html" %}

{% block title %}捷運大富翁-組合{% endblock title %}

{% block head %}
<link href="{{url_for('static', filename='css/combo.css')}}" rel="stylesheet">
<script src="{{url_for('static', filename='js/combo.js')}}"></script>
{% endblock head %}

{% block body %}

<span id="team" style="display: none;">{{team}}</span>

<div class="top">
    <nav class="nav">
        <a href="/" class="nav-item" active-color="gray">主頁</a>
        <a href="/combo" class="nav-item" active-color="gray">組合</a>
        <a href="/team_admin" class="nav-item" active-color="gray">隊隨</a>
        <span class="nav-indicator"></span>
    </nav>
    <div class="user_info">
        <p>{{team}} - {{current_user}}</p>
    </div>
</div>

<div class="container">
    {% for combo in combos %}
    <div class="item" data-stations="{{ combo.stations | join(',') }}">
        <span>{{ combo.name }} : </span>
        <span class="stations">
            {% for station in combo.stations %}
            {{ station }},
            {% endfor %}
        </span>
        <span class="points">+{{ combo.point }}分</span>
    </div>
    {% endfor %}
</div>
{% endblock %}