<!DOCTYPE html>
<html>
    <head>
        <link href="../static/css/style.css" rel="stylesheet">
        <link href="../static/css/team_admin.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="../static/img/favicon.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    </head>

    <body>
        <div class="top">
            <nav class="nav">
                <a href="/" class="nav-item" active-color="gray">主頁</a>
                <a href="/combo" class="nav-item" active-color="gray">組合</a>
                <a href="/team_admin" class="nav-item" active-color="gray">隊隨</a>
                <span class="nav-indicator"></span>
            </nav>
            <div class="user_info">
                <p>{{ team }} - {{current_user}}</p>
            </div>
        </div>


        <h2 id="mission_label"></h2>

        <div class="link">
            <a id="dice-link">
                <button class="button" onclick="mission_label(),missionAPI(); return false;">
                    骰子<i class="bi bi-dice-6-fill"></i>
                </button>
            </a>

            <a href="/card">
                <button class="button">
                    抽卡<i class="bi bi-card-text"></i>
                </button>
            </a>

            <button class="button" onclick="mission_label(),finish_misson(); return false;">
                  任務完成<i class="bi bi-check-lg"></i>
            </button>

    </body>
    <script>
        //ready
        document.addEventListener("DOMContentLoaded", () => {
            mission_label();
        });

        function mission_label(){
            fetch(`http://localhost:8080/api/team/{{team}}`)
            .then(response => response.json())
            .then(data => {
            now_status = data.current_mission_finished
            if(now_status){
                document.getElementById('mission_label').textContent = "目前狀態 : 任務已完成 請按骰子";
            }
            else{
                document.getElementById('mission_label').textContent = "目前狀態 : 任務進行中 請按任務完成";
            }
            })
        }


        function finish_misson(){
            fetch(`http://localhost:8080/api/finish_mission/{{team}}`).then(response => response.text())
            .then(response => {
                if(response === "Mission finished."){
                    Swal.fire({
                        title: '任務完成',
                        icon: "success",
                        text: response,
                        confirmButtonText: 'OK'
                    });
                }
                else if(response==="Mission already finished." ){
                    Swal.fire({
                        title: '已完成任務',
                        icon: "warning",
                        text: response,
                        confirmButtonText: 'OK'
                    });
                }
                else if(response==="Location not reached"){
                    Swal.fire({
                        title: '還沒抵達',
                        icon: "warning",
                        text: response,
                        confirmButtonText: 'OK'
                    });
                }
                else if(response==="Team is imprisoned"){
                    Swal.fire({
                        title: '監獄時間',
                        icon: "warning",
                        text: response,
                        confirmButtonText: 'OK'
                    });
                }
                else if(response==="Location not reached."){
                    Swal.fire({
                        title: '未達目的地',
                        icon: "warning",
                        text: response,
                        confirmButtonText: 'OK'
                    });
                }
                else if(response.includes('card')){
                    Swal.fire({
                        title: '抽卡時間',
                        icon: "info",
                        text: "Card time!",
                        confirmButtonText: '前往',
                        willClose: () => {
                            window.location.href = '/card';
                        }
                    });
                }
                else{
                    Swal.fire({
                        title: '錯誤',
                        icon: "error",
                        text: response,
                        confirmButtonText: 'Close'
                    });
                }
            })
        }


        function missionAPI() {
        fetch('http://localhost:8080/api/team/{{team}}')
        .then(response => response.json())
        .then(data => {
            if (data.current_mission_finished) {
                window.location.href = '/dice';
            } else {
                Swal.fire({
                        title: '請先完成任務',
                        icon: "warning",
                        text: "Please finish mission first.",
                        confirmButtonText: 'Close'
                    });
            }
        })
}
    </script>
</html>