{% extends "base.html" %}

{% block title %}捷運大富翁-隊隨{% endblock title %}

{% block head %}
<link href="{{url_for('static', filename='css/team_admin.css')}}" rel="stylesheet">
<script src="{{url_for('static', filename='js/team_admin.js')}}"></script>
{% endblock head %}

{% block body %}

<span id="team" style="display: none;">{{team}}</span>

<div class="top">
    <nav class="nav">
        <a href="/" class="nav-item" active-color="gray">主頁</a>
        <a href="/combo" class="nav-item" active-color="gray">組合</a>
        <a href="/team_admin" class="nav-item" active-color="gray">隊隨</a>
        <span class="nav-indicator"></span>
    </nav>
    <div class="user_info">
        <p>{{team}} - {{current_user}}</p>
    </div>
</div>

<h2 id="mission_label">目前狀態 :</h2>

<div class="link">
    <a id="dice-link">
        <button class="button" onclick="missionAPI();">
            骰子<i class="bi bi-dice-6-fill"></i>
        </button>
    </a>

    <a href="/card">
        <button class="button">
            抽卡<i class="bi bi-card-text"></i>
        </button>
    </a>

    <button class="button" onclick="finish_misson();">
        任務完成<i class="bi bi-check-lg"></i>
    </button>

    <button class="button" onclick="admin();">
        隊伍管理<i class="bi bi-kanban"></i>
    </button>
</div>
{% endblock %}